# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyc
.pytest_cache/
.ruff_cache/

# Tests
tests/

# IDE
.vscode/
.idea/

# Git
.git/
.gitignore

# Docs
*.md

# uv lock
uv.lock
